<md-card class="md-whiteframe-14dp">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Enter your question to start the game.</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="vm.question">
            <md-input-container>
                <label>Question</label>
                <input type="text" required name="questionText" id="questionText" ng-model="vm.questionText">
            </md-input-container>
        </form>
    </md-card-content>
    <md-card-actions>
        <md-button ng-class="{disabled: vm.question.questionText.$invalid}"
            ng-disabled="vm.question.questionText.$invalid"
            ng-click="vm.createGame()">Create</md-button>
    </md-card-actions>
</md-card>