<md-card class="md-whiteframe-15dp">
    <md-card-header ng-if="vm.guesser.user">
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ vm.guesser.user.profileImage }}"/>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{ vm.guesser.user.username }}</span>
            <span class="md-subhead">Guesser</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-header ng-if="!vm.guesser.user">
        <md-card-header-text>
            <span class="md-title">Waiting...</span>
            <span class="md-subhead">Guesser</span>
        </md-card-header-text>
    </md-card-header>
    <!-- Guess states:
        1) Other user, waiting on answer = Waiting on answer
        2) Current user, waiting on answer = Waiting on answer
        3) Other user, waiting to guess = Waiting for user
        4) Current user, waiting to guess = Waiting for user
        5) Other user, currently guessing = User guessing
        6) Current user, currently guessing = Enter Guess
        -->

    <!-- State: Has user -->
    <div ng-if="vm.guesser.user">
        <!-- State: No Answer -->
        <div ng-if="!vm.game.answer.value">
            <md-card-content>
                <span class="md-headline">Waiting on answer</span>
            </md-card-content>
        </div>
        <!-- State: Has Answer -->
        <div ng-if="vm.game.answer.value">
            <!-- State: Waiting to guess -->
            <div ng-if="!vm.guesser.active">
                <md-card-content>
                    <span class="md-headline">Waiting for other guesser.</span>
                </md-card-content>
            </div>
            <!-- State: Guessing -->
            <div ng-if="vm.guesser.active">
                <!-- State: Not current user -->
                <div ng-if="vm.guesser.user.userID !== vm.UserService.currentUser.user.userID">
                    <md-card-content>
                        <span class="md-headline">Currently guessing</span>
                    </md-card-content>
                </div>
                <!-- State: Is current user -->
                <div ng-if="vm.guesser.user.userID === vm.UserService.currentUser.user.userID">
                    <md-card-content>
                        <form name="vm.form">
                            <md-input-container>
                                <label>Guess: Currently {{vm.game.currentGuess}}</label>
                                <input
                                    type="number"
                                    required
                                    name="guess"
                                    id="guess"
                                    ng-model="vm.guess"
                                    min="{{vm.game.currentGuess + 1}}" 
                                    />
                            </md-input-container>
                        </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="start">
                        <md-button class="md-raised md-primary" ng-class="{disabled: vm.form.guess.$invalid}"
                            ng-disabled="vm.form.guess.$invalid"
                            ng-click="vm.saveGuess()">Guess</md-button>
                        <md-button class="md-raised md-warning"
                            ng-click="vm.lowerGuess()" ng-disabled="vm.game.currentGuess === 0">Lower!</md-button>
                    </md-card-actions>
                </div>
            </div>
        </div>
    </div>
</md-card>