<md-card class="md-whiteframe-15dp">
    <md-card-header>
        <md-card-header-text>
            <span class="md-display-2">Waiting on game to start</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-subheader class="md-no-sticky">Question</md-subheader>
            <md-list-item>{{vm.game.question}}</md-list-item>
            <md-divider ></md-divider>

            <md-subheader class="md-no-sticky">Answerer</md-subheader>
            <md-list-item class="md-3-line">
                <img ng-if="vm.game.answer.user" class="md-avatar" ng-src="{{ vm.game.answer.user.profileImage }}"/>
                <div ng-if="vm.game.answer.user">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ vm.game.answer.user.username }}</h3>
                        <p class="md-subhead">Answering</p>
                    </div>
                </div>
                <md-icon ng-if="!vm.game.answer.user" class="md-avatar-icon material-icons">trending_down</md-icon>
                <div ng-if="!vm.game.answer.user" class="md-list-item-text" layout="column">
                    <h3>Waiting on a user to answer.</h3>
                    <h4>Invite user via link</h4>
                    <p class="md-caption invite-link"><a ng-href="{{vm.answererLink}}">{{vm.answererLink}}</a></p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>

            <md-subheader class="md-no-sticky">Guessers</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="guesser in vm.game.guessers">
                <img class="md-avatar" ng-src="{{ guesser.user.profileImage }}" ng-if="guesser.user"/>
                <div class="md-list-item-text" ng-if="guesser.user">
                    <h3>{{ guesser.user.username }}</h3>
                    <p class="md-subhead">Guesser {{$index +1 }}</p>
                </div>
                <md-icon ng-if="!guesser.user" class="md-avatar-icon material-icons">trending_down</md-icon>
                <div ng-if="!guesser.user" class="md-list-item-text" layout="column">
                    <h3>Waiting on a guesser to join.</h3>
                    <h4>Invite user via link</h4>
                    <p class="md-caption invite-link"><a ng-href="{{vm.guesserLink}}">{{vm.guesserLink}}</a></p>
                </div>
            </md-list-item>
    </md-card-content>
</md-card>