<md-card class="md-whiteframe-15dp">
    <md-card-header ng-if="vm.game.answer.user">
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ vm.game.answer.user.profileImage }}"/>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{ vm.game.answer.user.username }}</span>
            <span class="md-subhead">Answering</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-title>
        <md-card-title-text>
            <span class="md-display-2">{{vm.game.question}}</span>
            <span class="md-subhead">Question</span>
        </md-card-title-text>
    </md-card-title>
    <!-- Game has been answered -->
    <div ng-if="vm.game.answer.value">
        <md-card-content>
            Answered
        </md-card-content>
    </div>
    <!-- Game has not been answered -->
    <div ng-if="!vm.game.answer.value">
        <!-- User can answer -->
        <div ng-if="vm.canAnswer">
            <!-- User is answering -->
            <div ng-if="vm.answering">
                <md-card-content>
                    <form name="vm.form">
                        <md-input-container>
                            <label>Answer</label>
                            <input type="number" required name="questionAnswer" id="questionAnswer" ng-model="vm.questionAnswer">
                        </md-input-container>
                    </form>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start">
                    <md-button class="md-raised md-primary" ng-class="{disabled: vm.form.questionAnswer.$invalid}"
                        ng-disabled="vm.form.questionAnswer.$invalid"
                        ng-click="vm.saveAnswer()">Save</md-button>
                </md-card-actions>
            </div>
            <!-- User is not answering -->
            <div ng-if="!vm.answering">
                <md-card-actions layout="row" layout-align="start">
                    <md-button class="md-raised md-primary"
                        ng-click="vm.startAnswer()">Answer Question</md-button>
                </md-card-actions>
            </div>
        </div>
        <!-- User cannot answer and hasn't been answered-->
        <div ng-if="!vm.canAnswer">
            <md-card-content>
                <span class="md-headline">Waiting on answer</span>
            </md-card-content>
        </div>
    </div>
</md-card>
