<md-card class="md-whiteframe-15dp">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ vm.game.answer.user.profileImage }}"/>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{ vm.game.answer.user.username }}</span>
            <span class="md-subhead">Answered</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <span class="md-display-2">{{vm.game.question}}</span>
    </md-card-content>
</md-card>
